<!DOCTYPE html>
<html>
  <head>
    <title>Home | Gridworkz</title>
  </head>
  <body>
    <h1> <%= image_tag("Logo.png", alt: "Rails logo") %>
    </h1>
    <h2>
      A game to test your spacial relations skills. 
    </h2>
    <h3>
    	Below is a sample of a level with a 5x5 grid size. On the left will be a given grid, in the middle instructions for rotating and on the right is the correctly rotated reproduced grid.
    <p>
    	<%= image_tag("instructionPic1.png",alt:"instructionPic") %>
    	<%= image_tag("instructionPic2.png",alt:"instructionPic") %>
    	<%= image_tag("instructionPic3.png",alt:"instructionPic") %>

    	</p>
  </body>
</html>