<!DOCTYPE html>
<html>
  <head>
    <title>Home | Gridworkz</title>
  </head>
  <body>
    <h1> <%= image_tag("Logo.png", alt: "Rails logo") %>
    </h1>

    <h2>
      Welcome to Gridworkz, the spacial relation game. 
    </h2>
    <h3>
    	Please <%= link_to "login" %> or <%= link_to "sign up", signup_path %> to play!
    </h3>
  </body>
</html>