<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='custom.css.scss'/>
	</head>
<body>
  <script type="text/javascript">
    var grid = document.createElement('table');
      document.body.appendChild(grid);
  </script>
  	<input type="button" name="button1" value="3 x 3" style="position: absolute; left: 75px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />

  	<input type="button" name="button2" value="4 x 4" style="position: absolute; left: 225px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />

  	<input type="button" name="button3" value="5 x 5" style="position: absolute; left: 375px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />

  	<input type="button" name="button4" value="6 x 6" style="position: absolute; left: 525px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />

  	<input type="button" name="button5" value="7 x 7" style="position: absolute; left: 675px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />

  	<input type="button" name="button6" value="8 x 8" style="position: absolute; left: 825px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />

  	<input type="button" name="button7" value="9 x 9" style="position: absolute; left: 975px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />

  	<input type="button" name="button8" value="10 x 10" style="position: absolute; left: 1125px; top: 300px; width: 100px; " onclick="window.location='game'" 
    />
  </body>
 </html>
