<!DOCTYPE html>
<html>

	<head>
		<link rel='stylesheet' type='text/css' href='custom.css.scss'/>
	</head>
<body>
  <script type="text/javascript">
  </script>
  	<button
	  	threebythree=>3 x 3
  	</button>
  	<button
  		fourbyfour="sayHello('world')">4 x 4
  	</button>
  	<button
  		fivebyfive="sayHello('world')">5 x 5
  	</button>
  	<button
  		sixbysix="sayHello('world')">6 x 6
  	</button>
  	<button
  		sevenbyseven="sayHello('world')">7 x 7
  	</button>
  	<button
  		eightbyeight="sayHello('world')">8 x 8
  	</button>
  	<button
  		ninebynine="sayHello('world')">9 x 9
  	</button>
  	<button
  		tenbyten="sayHello('world')">10 x 10
  	</button>
  </body>
 </html>
