<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='custom.css.scss'/>
	</head>
<body>
  <script type="text/javascript">
  </script>
  	<button
	  	onclick="window.location='game'" threebythree=>3 x 3
  	</button>
  	<button
  		onclick="window.location='game'" fourbyfour=>4 x 4
  	</button>
  	<button
  		onclick="window.location='game'" fivebyfive=>5 x 5
  	</button>
  	<button
  		onclick="window.location='game'" sixbysix=>6 x 6
  	</button>
  	<button
  		onclick="window.location='game'" sevenbyseven=>7 x 7
  	</button>
  	<button
  		onclick="window.location='game'" eightbyeight=>8 x 8
  	</button>
  	<button
  		onclick="window.location='game'" ninebynine=>9 x 9
  	</button>
  	<button
  		onclick="window.location='game'" tenbyten=>10 x 10
  	</button>
  </body>
 </html>
