<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<form method="post">
        <fieldset>
                <legend>Block Color</legend>
                        <ul>
                            <label for="Red" class= "label-align">Red 
                              <input type="radio" name="color" id="Red" value="Red">
                            </label>
                            <label for="Orange" class= "label-align">Orange 
                              <input type="radio" name="color" id="Orange" value="Orange">
                            </label>
                            <label for="Yellow" class= "label-align">Yellow
                              <input type="radio" name="color" id="Yellow" value="Yellow">
                            </label> 
                            <label for="Green" class= "label-align">Green 
                              <input type="radio" name="color" id="Green" value="Green">
                            </label>
                            <label for="Blue" class= "label-align">Blue
                              <input type="radio" name="color" id="Blue" value="Blue">
                            </label>
                            <label for="Purple" class= "label-align">Purple
                              <input type="radio" name="color" id="Purple" value="Purple">
                            </label> 
                            <label for="Pink" class= "label-align">Pink 
                              <input type="radio" name="color" id="Pink" value="Pink">
                            </label>
                            <!---<input type="submit" value="Save" style="position: absolute; left: 60px; top: 550px; width: 100px; "/> -->

                        </ul>
                      
        </fieldset>
</form>