<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<form method="post">
        <fieldset>
                <legend>Block Color</legend>
                        <input type="checkbox" name="Red" value="Red" />Red <br class='unique'/>
                        <input type="checkbox" name="Orange" value="Orange" />Orange<br class='unique'/>
                        <input type="checkbox" name="Yellow" value="Yellow" />Yellow<br class='unique'/>
                        <input type="checkbox" name="Green" value="Green" />Green<br class='unique'/>
                        <input type="checkbox" name="Blue" value="Blue" />Blue<br class='unique'/>
                        <input type="checkbox" name="Purple" value="Purple" />Purple<br class='unique'/>
                        <input type="checkbox" name="Pink" value="Pink" />Pink<br class='unique'/>
                        <input type="submit" value="Save" style="position: absolute; left: 60px; top: 520px; width: 100px; "/>


                      
        </fieldset>
</form>
<body>    
     <script type="text/javascript">
                          var $unique = $('input.unique');
                          $unique.click(function() {
                          $unique.removeAttr('checked');
                          $(this).attr('checked', true);
                        });
                        </script> 
  <body/>
