<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<form method="post">
        <fieldset>
                <legend>Block Color</legend>
                        <ul>
                            <label for="Red">Red</label> 
                              <input type="radio" name="color" id="Red" value="Red">
                            <label for="Orange">Orange</label> 
                              <input type="radio" name="color" id="Orange" value="Orange">
                            <label for="Yellow">Yellow</label> 
                              <input type="radio" name="color" id="Yellow" value="Yellow">
                            <label for="Green">Green</label> 
                              <input type="radio" name="color" id="Green" value="Green">
                            <label for="Blue">Blue</label>
                              <input type="radio" name="color" id="Blue" value="Blue">
                            <label for="Purple">Purple</label> 
                              <input type="radio" name="color" id="Purple" value="Purple">
                            <label for="Pink">Pink</label> 
                              <input type="radio" name="color" id="Pink" value="Pink">
                            <!---<input type="submit" value="Save" style="position: absolute; left: 60px; top: 550px; width: 100px; "/> -->

                        </ul>
                      
        </fieldset>
</form>
<body>    
     <script type="text/javascript">
                          var $unique = $('input.unique');
                          $unique.click(function() {
                          $unique.removeAttr('checked');
                          $(this).attr('checked', true);
                        });
                        </script> 
  <body/>
